.container-personal {
    padding-top: 3em;
}

.texto {
    padding-top: 2em;
    font-size: 1.3em;
}

.detalhes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3em;
}

.titulo {
    padding-bottom: 0.5em;
    font-size: 40px;
}